[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
molecule = {extras = ["docker"], version = "*"}
paramiko = "*"
ansible-core = "*"

[dev-packages]

[requires]
python_version = "3.11"
