---
# tasks file for postgresql
- name: Setup Packages for RedHat based Linux
  ansible.builtin.include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- name: Initialize Database
  ansible.builtin.include_tasks: initialize.yml

- name: Configure Database
  ansible.builtin.include_tasks: configure.yml

- name: Start and enable PostgreSQL-Server
  ansible.builtin.systemd:
    name: "{{ postgresql_daemon }}"
    daemon_reload: true
    state: started
    enabled: true
  become: true

- name: Ensure PostgreSQL extensions are configured
  ansible.builtin.import_tasks: extensions.yml

# Configure PostgreSQL.
- name: Add Database Users
  ansible.builtin.import_tasks: users.yml
- name: Add Databases
  ansible.builtin.import_tasks: databases.yml
- name: Verify User Properties
  ansible.builtin.import_tasks: users_props.yml
