---
- name: Install PostgreSQL Repositories
  ansible.builtin.dnf:
    name: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-{{ ansible_facts.distribution_major_version }}-{{ postgresql_pgdg_repo_arch }}/pgdg-redhat-repo-latest.noarch.rpm"
    disable_gpg_check: true
  become: true

- name: Import PGDG repository GPG keys
  ansible.builtin.rpm_key:
    key: "{{ item }}"
    state: present
  loop: "{{ postgresql_pgdg_gpg_keys }}"
  become: true

- name: Disable postgresql module
  ansible.builtin.command: dnf module disable -y postgresql
  become: true
  register: result
  changed_when:
    - '"Disabling module streams" in result.stdout'

- name: Install PostgreSQL Server
  ansible.builtin.dnf:
    name: "{{ postgresql_packages }}"
  become: true
