---
name: CI
on: # yamllint disable-line rule:truthy
  - pull_request
  - push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: ansible-lint
        uses: ansible-actions/ansible-lint-action@v1.1.0
        with:
          target: .
  test:
    needs:
      - lint
    runs-on: ubuntu-latest
    env:
      ANSIBLE_REMOTE_TEMP: /tmp/.ansible-${{ github.run_id }}
      ANSIBLE_LOCAL_TEMP: /tmp/.ansible-local-${{ github.run_id }}
    strategy:
      matrix:
        config:
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 9
            version: "17.6"
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 8
            version: "17.6"
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 9
            version: "16.10"
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 8
            version: "16.10"
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 9
            version: "15.14"
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 8
            version: "15.14"
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 9
            version: "14.19"
          - image: docker-rockylinux-systemd
            namespace: eniocarboni
            tag: 8
            version: "14.19"
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          path: "${{ github.repository }}"
      - name: molecule
        uses: robertdebock/molecule-action@6.0.1
        with:
          image: ${{ matrix.config.image }}
          tag: ${{ matrix.config.tag }}
          namespace: ${{ matrix.config.namespace }}
          psqlversion: ${{ matrix.config.version }}
