---
name: CI
on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: ansible-lint
        uses: ansible-actions/ansible-lint-action@v1.1.0
        with:
          target: .
  test:
    needs:
      - lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - image: docker-rockylinux9-ansible
            namespace: geerlingguy
            tag: latest
            version: "17.6"
          - image: docker-rockylinux8-ansible
            namespace: geerlingguy
            tag: latest
            version: "17.6"
          - image: docker-rockylinux9-ansible
            namespace: geerlingguy
            tag: latest
            version: "16.10"
          - image: docker-rockylinux8-ansible
            namespace: geerlingguy
            tag: latest
            version: "16.10"
          - image: docker-rockylinux9-ansible
            namespace: geerlingguy
            tag: latest
            version: "15.14"
          - image: docker-rockylinux8-ansible
            namespace: geerlingguy
            tag: latest
            version: "15.14"
          - image: docker-rockylinux9-ansible
            namespace: geerlingguy
            tag: latest
            version: "14.19"
          - image: docker-rockylinux8-ansible
            namespace: geerlingguy
            tag: latest
            version: "14.19"
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          path: "${{ github.repository }}"
      - name: Install Molecule requirements
        run: ansible-galaxy collection install -r requirements.yml
        working-directory: "${{ github.repository }}"
      - name: molecule
        uses: robertdebock/molecule-action@6.0.1
        with:
          image: ${{ matrix.config.image }}
          tag: ${{ matrix.config.tag }}
          namespace: ${{ matrix.config.namespace }}
          psqlversion: ${{ matrix.config.version }}
